h2{
  font-size: 24px;
  text-align: center;
  font-family: fantasy;
}
h3{
  font-stretch: expanded;
  text-align: center;
}
p{
  text-align: center;
	padding: 6px;
	margin-left: auto;
	margin-right: auto;
  font-size: 18px;
}

button{
  padding: 20px;
}
