/*CSS for band website*/

/*Layout styles*/
@font-face {
  font-family: 'font';
   src: url('../../Homepage/Gemini Moon.otf');
}
@font-face {
  font-family: 'myfont';
   src: url('Saudagar.ttf');
}

body {
	background-image: url('play.jpg');
	background-position: center bottom;
	background-attachment: fixed;
	background-size: cover;
}



.mainContent {
	width: 600px;
	margin: auto;
	margin-top: 100px;
}

video {
	width: 100%;
}

img {
	width: 100%;
	height: auto;
}




p {
	font-family:"myfont";
	font-size: 1.5em;
	text-align: center;
  border-width: thick;
  background-color: white;
  width:700px;
}

.nav {
	font-family: "myfont";
	font-size: 1.5em;
	text-align: center;
	white-space: nowrap;

}

.links, .selected {
	margin-left: 1em;
	margin-right: 1em;
}

.header {
	font-family: "font";
	font-size: 4em;
	text-align: center;
	letter-spacing: 0.05em;
	margin-top: 80px;
	margin-bottom: 60px;
}

a:link, a:visited {
	text-decoration: none;
	color: black;
}

a:focus, a:hover {
	color: beige;
}

a:active {
	opacity: 0.5;
}

a.selected:link, a.selected:visited {
	color: purple;
}
